@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary Blues */
  --color-primary: #324dd3;
  --color-primary-dark: #28377d;
  --color-primary-light: #566bd6;

  --color-primary-darker: #213d77;
  /* Neutrals */
  --color-gray: #9f9f9f;
  --color-black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light);

  /* neutrals */
  --color-gray: var(--color-gray);
  --color-black: var(--color-black);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}



/* swipper */
/* Custom styles for VideoGallery component */

.video-swiper {
  overflow: visible !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.video-swiper .swiper-slide {
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.video-swiper .swiper-slide-active {
  filter: brightness(1);
}

.video-swiper .swiper-slide:not(.swiper-slide-active) {
  filter: brightness(0.7);
}

/* Optional: Add subtle shadow to active slide */
.video-swiper .swiper-slide-active > div {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

/* Ensure smooth transitions */
.video-swiper .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}